---
---

@import "minima";

body {
  font-family: "Century Gothic", sans-serif;
  font-size: 18px;
  line-height: 1.7;
}

a {
  color: #af0606;
}

a:visited {
  color: #af0606;
}

.site-nav {
  font-size: 18px;
}

.site-footer {
  font-size: 16px;
}
